*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 215, 255);
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
}

h2 {
  margin-bottom: 1rem;
}

.accordian {
  background-color: #fff;
  padding: 4px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgb(255, 205, 255);
  cursor: pointer;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-caret-down {
  margin-right: 16px;
  transition: transform 0.2s;
}

.answer {
  color: #666;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
}

/* Active */

.fa-caret-down.active {
  transform: rotate(-180deg);
}

/* .answer.active {
  max-height: fit-content;
} */